<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--<bean id="logAspect" class="com.draper.service.aspectInt.LogAspect"/>-->

    <!--<bean id="beforeAllAdvice" class="com.draper.service.advice.TestAdvice"/>-->
    <!--<bean id="logBeforeAdvice" class="com.draper.service.advice.LogMethodBeforeAdvice"/>-->

    <!--<bean id="matchAdvice" class="com.draper.service.pointcut.LogPointcut"/>-->

    <!--<bean id="target" class="com.draper.service.impl.StudentServiceImpl"/>-->

    <!--&lt;!&ndash; 在这里是你需要代理的接口，不要填错了, Spring 容器会根据命名来寻找的 &ndash;&gt;-->
    <!--<bean id="studentService" class="org.springframework.aop.framework.ProxyFactoryBean">-->
        <!--&lt;!&ndash; 指定代理的接口，多个使用 List 表示 &ndash;&gt;-->
        <!--<property name="proxyInterfaces" value="com.draper.service.StudentService"/>-->

        <!--&lt;!&ndash; 指定使用的增强&ndash;&gt;-->
        <!--<property name="interceptorNames">-->
            <!--<list>-->
                <!--<value>beforeAllAdvice</value>-->
                <!--<value>logBeforeAdvice</value>-->
                <!--&lt;!&ndash;<value>matchAdvice</value>&ndash;&gt;-->
            <!--</list>-->
        <!--</property>-->

        <!--&lt;!&ndash; 对哪个 bean 进行代理 &ndash;&gt;-->
        <!--<property name="target" ref="target"/>-->
    <!--</bean>-->

    <aop:aspectj-autoproxy/>

    <!--<aop:config>-->
        <!--&lt;!&ndash; ref 织入的方法 &ndash;&gt;-->
        <!--<aop:aspectInt id="logAspect" ref="logAspect">-->
            <!--<aop:pointcut id="beforeLogPointCut" expression="execution(* com.draper.service.*.*(..))"/>-->
            <!--<aop:before method="beforeAspect" pointcut-ref="beforeLogPointCut"/>-->
        <!--</aop:aspectInt>-->
    <!--</aop:config>-->

    <!--<bean id="dynamicAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">-->
        <!--<property name="pointcut">-->
            <!--<bean class="com.draper.service.pointcut.LogPointcut"/>-->
        <!--</property>-->
        <!--<property name="advice">-->
            <!--<bean class="com.draper.service.advice.LogMethodBeforeAdvice"/>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="studentService2" class="org.springframework.aop.framework.ProxyFactoryBean">-->
        <!--<property name="interceptorNames" value="dynamicAdvisor"/>-->
        <!--<property name="target" ref="target"/>-->
        <!--<property name="proxyTargetClass" value="true"/>-->
    <!--</bean>-->

</beans>