<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.draper.mapper.TestMapper">

    <select id="selectPeopleByName" resultType="com.draper.entity.Test" parameterType="java.lang.String">
        SELECT *
        FROM test
        WHERE name = ${name};
    </select>

</mapper>